<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.codeburrow.systempermissions">

    <!--
         Add Permissions to the Manifest

        To declare that your app needs a permission,
        put a <uses-permission> element in your app manifest,
        as a child of the top-level <manifest> element.

        For example, an app that needs to send SMS messages
        would have this line in the manifest
    -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DeclarePermissionsActivity">
        </activity>
    </application>

</manifest>