<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.codeburrow.receivefileswithnfc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <!-- Matches the ACTION_VIEW intent sent from the notification. -->
                <action android:name="android.intent.action.VIEW"/>
                <!-- Matches an Intent that doesn't have an explicit category. -->
                <category android:name="android.intent.category.CATEGORY_DEFAULT"/>
                <!-- Matches a MIME type. Specify only those MIME types that your app can handle. -->
                <data android:mimeType="mime-type"/>
            </intent-filter>
        </activity>
    </application>

</manifest>