<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.codeburrow.otherappsinteraction">

    <!-- Allows an application to initiate a phone call without going through the Dialer user interface for the user to confirm the call. -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SendUserToAnotherAppActivity"/>

        <activity android:name=".GetResultFromAnotherActivityActivity">
        </activity>

        <!--  Here's an activity with an intent filter that handles the ACTION_SEND intent when the data type is either text or an image -->
        <activity android:name=".ShareActivity">
            <!-- Note: In order to receive implicit intents, you must include the CATEGORY_DEFAULT category in the intent filter.
            The methods startActivity() and startActivityForResult() treat all intents as if they declared the CATEGORY_DEFAULT category.
            If you do not declare it in your intent filter, no implicit intents will resolve to your activity.  -->
            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <!-- filter for sending text or images; accepts SEND action and text or image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>